h1 {margin-top: 28px; margin-bottom: 10px}

p {text-align: justify; line-height:25px; font-size:15px}

body {font-family: Verdana}

a{text-decoration: none; color:#C70039}
a:hover{text-decoration: underline; color: #FF5733} 

#container {margin: 5% 10%; padding: 5px 5px 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}

#head_content {text-align: center; padding: 15px 15px 7px; font-size:25px}
#head_content p {font-size:15px; text-align:center; margin-top: 5px; margin-bottom: 2px}

#menu{text-align: center; font-size: 20px; padding: 5px}

#body_content{margin:1% 5%; 
             border-top-style: solid; 
			 border-bottom-style: solid;
			 padding: 5px}
			 
#footer{margin:1% 5%; text-align: center;}
#footer p{font-size:12px}

code {color: #001ADD; background-color: #E7E6E6;
}

figure {display: inline-block}
figure img {margin: auto; max-width: 100%; height: auto;}
figure figcaption {text-align: center;}
